/* CSS Document */
.header{
	margin-bottom: 10px;
	margin-top: 10px;
}
.header h1{
	font-size: 32px;
}
.col-md-6, .col-md{
	padding:10px;
}
.graphs{
  	width: 98%;

	height: auto;
	margin: auto;
}
.miniatura{
	width: 100%;
	height: 100%;

	background-color: #F8F8F8;
	padding-bottom: 20px;
	/*margin-left: 1%;
	margin-right: 1%;*/
	border-radius: 3px;
	padding-top: 20px;
	border-bottom: 4px solid #6DC7D0;
	text-align: center;
}
.miniatura h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #52BAD5;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
.miniatura p {
	margin: 0;
	color: black;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
}
.miniatura .tag {
	color: #5D5E5D;
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

.graphs div{
	margin: auto;

}
.intro{
	text-align: center;
}
select {
	max-width: 80%;
	margin: auto;
}

.definizione p{
	text-align: justify;
	color: black;
}
svg {
	max-width: 100%;
}
.col-auto{
	background-color: #F8F8F8;
}
.teoria{
	background-color: #F8F8F8;
	border: 10px solid #F8F8F8;
	border-radius: 3px;
}
.last_line{
	border-bottom: medium solid #6dc7d0;
}
/*#conclusione{
	float: none;
	width: 98%
}*/
#domanda h6 {
	margin: 0px;
	font-weight:600;
}
#risposta{
	background-color: #F8F8F8;
	border: 10px solid #F8F8F8;
	text-align: center;
	padding-bottom: 20px;
	border-radius: 3px;
	padding-top: 20px;
}
#contact{
	margin-top: 5px
}
section{
	margin-bottom: 10px;
}
